[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "APTIcalc"]
	path = APTIcalc
	url = https://github.com/cran/APTIcalc
[submodule "SampleSizeCalculator"]
	path = SampleSizeCalculator
	url = https://github.com/cran/SampleSizeCalculator
[submodule "SpatialPOP"]
	path = SpatialPOP
	url = https://github.com/cran/SpatialPOP
[submodule "surveySimR"]
	path = surveySimR
	url = https://github.com/cran/surveySimR
